/*body
{
  width: 500px;
  padding: 10px;
  margin: 10px;
  margin-right: 10px;
  float:left;
  background-color: pink;
}*/

body{
  text-align: center;
  background-color:black;
}
h1{
  color: white;
  padding-top:20px;
}
p{
  color:#66ff33;
}
button{
  width:200px;
  height:30px;
  border-radius: 8px;
  margin: 10px;
}
