/*Viikon 3 ensimmäiset harjoitukset/Tehtävä 11/Eriko Korhonen/13.4.2021*/
body{
  text-align: center;
  font-size: 1.5rem;
  height: 1000px;
  background: linear-gradient(to left, #ccffcc 0%, #ffffcc 100%);
}
