/*Viikon 3 toiset harjoitukset/Tehtävä 1/Eriko Korhonen/14.4.2021*/
body{
  text-align: center;
  font-size: 1.5rem;
  background: linear-gradient(to top right, #66ffff 0%, #00ffcc 100%);
}
ul {
  list-style: none;
}
