/*Viikon 3 toiset harjoitukset/Tehtävä 1/Eriko Korhonen/14.4.2021*/
body{
  text-align: center;
  font-size: 1.5rem;
  height: 1000px;
  background-color: aqua;
}
ul {
  list-style: none;
}
